
/* Global Styles & Colors */
:root {
    --color-header-background: #121212;
    --color-header-text: white;
    --color-header-hightlight: #1d7e05;
    --color-background: white;
    --color-footer-background: #121212;
    --color-footer-text: white;
    

  }


  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-color: var(--color-background);
    overflow-y: hidden; /* Prevent scrollbar appearing on page transition */


  }



  #root {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; /* cross axis */

    height:100%;
  }


  #root > div {
   /* border:solid 1px red;*/
    flex:1 1 0px;
  }

  #menu {
    flex:none;
    width:3rem;

    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content:center;
  }

  #colourSelector {
    display:flex;
    flex-direction: column;
    width:3rem;
    height:10rem;
    border:solid 2px black;


  }

  .colour{
    flex:1 1 0px;
  }

  #selectedColour {
    margin:1rem;
    border:solid 2px black;
    width:3rem;
    height:3rem;
  }



  .grid {
    margin:0.5rem;
    border:solid 2px blue;
    background-color:grey;


  }

  #grid1 {
    width:500px;
    height:500px;
  }

  #grid2 {
    width:100px;
    height:100px;
  }


 
  .btnProcess {
    margin:1rem;

    padding:0.5rem 1rem;
    text-transform: uppercase;
  }